<!-- 러닝 angular4 예제 -->
<!-- {{ "This bad is phrase is rotton" | lengthPipe: "***" }} -->

<!-- 앵귤라 파이프로 처리 -->
<!-- <header class="header">
  {{
    "그 개발자가 사는 세상의 글쓴이 happy-sonday 입니다. 말이 많아 나머지  생략처리했습니다."
      | lengthPipe: "###"
  }}
</header> -->

<!-- scss로 처리 -->

<h3>SCSS로 처리</h3>
<div class="product-name">
  상품 이름 상품 이름 상품 이름 상품 이름 상품 이름 상품 이름 상품 이름 상품
  이름 상품 이름 상품 이름상품 이름 상품 이름 상품 이름 상품 이름 상품 이름 상품
  이름 상품 이름 상품 이름 상품 이름 상품 이름 상품 이름 상품 이름 상품 이름
  상품 이름 상품 이름 상품 이름 상품 이름 상품 이름 상품 이름 상품 이름상품 이름
  상품 이름 상품 이름 상품 이름 상품 이름 상품 이름 상품 이름 상품 이름 상품
  이름 상품 이름
</div>

<div class="product-name-res">
  상품 이름 상품 이름 상품 이름 상품 이름 상품 이름 상품 이름 상품 이름 상품
  이름 상품 이름 상품 이름상품 이름 상품 이름 상품 이름 상품 이름 상품 이름 상품
  이름 상품 이름 상품 이름 상품 이름 상품 이름 상품 이름 상품 이름 상품 이름
  상품 이름 상품 이름 상품 이름 상품 이름 상품 이름 상품 이름 상품 이름상품 이름
  상품 이름 상품 이름 상품 이름 상품 이름 상품 이름 상품 이름 상품 이름 상품
  이름 상품 이름
</div>

<!-- 내장파이프 이용 -->
<h3>내장 파이프 사용</h3>
<div class="product-name-pipe">
  {{
    "상품 이름 상품 이름 상품 이름 상품 이름 상품 이름 상품 이름 상품 이름 상품
  이름 상품 이름 상품 이름상품 이름 상품 이름 상품 이름 상품 이름 상품 이름 상품
  이름 상품 이름 상품 이름 상품 이름 상품 이름 상품 이름 상품 이름 상품 이름
  상품 이름 상품 이름 상품 이름 상품 이름 상품 이름 상품 이름 상품 이름상품 이름
  상품 이름 상품 이름 상품 이름 상품 이름 상품 이름 상품 이름 상품 이름 상품
  이름 상품 이름"
      | slice: 0:12
  }}
</div>
{{ ("happy-sonday tisotry blog" | slice: 0:12) + "****" }}
<br />
<br />

<h3>사용자 정의 파이프</h3>
<div class="product-name-pipe">
  {{
    "상품 이름 상품 이름 상품 이름 상품 이름 상품 이름 상품 이름 상품 이름 상품
  이름 상품 이름 상품 이름상품 이름 상품 이름 상품 이름 상품 이름 상품 이름 상품
  이름 상품 이름 상품 이름 상품 이름 상품 이름 상품 이름 상품 이름 상품 이름
  상품 이름 상품 이름 상품 이름 상품 이름 상품 이름 상품 이름 상품 이름상품 이름
  상품 이름 상품 이름 상품 이름 상품 이름 상품 이름 상품 이름 상품 이름 상품
  이름 상품 이름"
      | lengthPipe: "..."
  }}
</div>

{{
  "그 개발자가 사는 세상의 글쓴이 happy-sonday 입니다. 말이 많아 나머지  생략처리했습니다."
    | lengthPipe: "###"
}}
