.header-container {
  height: 40px;
  display: flex;
  justify-content: space-between;
  background: cornflowerblue;
  align-items: center;
  box-sizing: border-box;
  padding: 8px 16px;

  .header-icon-left {
    flex: 1 1 auto;
    font-size: 1rem;
    font-weight: bold;
  }

  *:not(.header-icon-left) {
    flex: 1 1 auto;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
