<app-header></app-header>
<article class="grid-container">
  <section class="item">개인정보</section>
  <section class="item">QRcode box</section>
  <section class="item">페이 잔액</section>
  <section class="item-half">카카오페이 메뉴</section>
  <section class="item-icon">아이콘</section>
  <section class="item-icon">아이콘</section>
  <section class="item-icon">아이콘</section>
  <section class="item-icon">아이콘</section>
  <section class="item-icon">아이콘</section>
  <section class="item-icon">아이콘</section>
  <section class="item-icon">아이콘</section>
  <section class="item-icon">아이콘</section>
  <section class="item-icon">아이콘</section>
  <section class="item-icon">아이콘</section>
  <section class="item-icon">아이콘</section>
  <section class="item-icon">아이콘</section>
  <section class="item">배너광고1</section>
  <section class="item">슬라이드광고</section>
  <section class="item">날씨정보</section>
</article>
<app-footer></app-footer>
