.view {
  overflow: hidden;
}

.view .container {
  white-space: nowrap;
  padding: 0px;
  list-style: none;
  font-size: 0;
}

.view .panel {
  width: 100%;
  min-height: 200px;
  display: inline-block;
}

.panel:nth-child(1) {
  background: rgb(255, 0, 0);
}
.panel:nth-child(2) {
  background: rgb(0, 255, 0);
}
.panel:nth-child(3) {
  background: rgb(0, 0, 255);
}
.panel:nth-child(4) {
  background: rgb(0, 0, 0);
}
