view {
  overflow: hidden;
}
.view {
  .container {
    white-space: nowrap;
    padding: 0px;
    list-style: none;
    font-size: 0;
  }

  .panel {
    width: 100%;
    min-height: 200px;
    display: inline-block;
  }

  li:first-child {
    background: lightgreen;
  }
  li:nth-child(2) {
    background: lightpink;
  }
  li:nth-child(3) {
    background: royalblue;
  }
  li:last-child {
    background: darkblue;
  }
}
