<app-header></app-header>
<article class="user-list-container">
  <section class="myinfo-item">
    <div class="profile">사진</div>
    <div class="id">id</div>
    <div class="status">상태</div>
  </section>

  <ul class="friends-container">
    <li class="friends-item">
      <div class="profile">사진</div>
      <div class="id">id</div>
      <div class="status">상태</div>
    </li>
    <li class="friends-item">
      <div class="profile">사진</div>
      <div class="id">id</div>
      <div class="status">상태</div>
    </li>
    <li class="friends-item">
      <div class="profile">사진</div>
      <div class="id">id</div>
      <div class="status">상태</div>
    </li>
    <li class="friends-item">
      <div class="profile">사진</div>
      <div class="id">id</div>
      <div class="status">상태</div>
    </li>
  </ul>
</article>

<app-footer></app-footer>
