.main-container {
  position: relative;
}

.autocomplete {
  position: relative;
  width: 300px;
}

#suggestLayer {
  top: 20px;
  color: #666;
  padding: 0px;
  margin: 0px;
  width: 100%;
}

#suggestLayer .user {
  border: 1px solid #bec8d9;
  list-style: none;
}
.user img {
  position: relative;
  float: left;
  margin-right: 10px;
}

.user p {
  line-height: 50px;
  margin: 0px;
  padding: 0px;
}

.profile {
  width: 50px;
  height: 50px;
}

#loading {
  display: none;
}

.spinner {
  position: absolute;
  top: 0;
  right: 0;
}
